<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="ADMINPTWIN.Properties.Settings.ConWin" connectionString="Data Source=192.168.1.4\INJIBOA03;Initial Catalog=ADMINPT;User ID=administrador;Password=produccion01"
   providerName="System.Data.SqlClient" />
  <add name="ADMINPTWIN.Properties.Settings.ADMINPTConnectionString"
   connectionString="Data Source=192.168.1.9\INJIBOA02;Initial Catalog=ADMINPT;User ID=administrador;Password=produccion01"
   providerName="System.Data.SqlClient" />
  <add name="ADMINPTWIN.Properties.Settings.ADMINPTwin" connectionString="Data Source=SV1-APOLO\INJIBOA03;Initial Catalog=ADMINPT;Persist Security Info=True;User ID=administrador;Password=produccion01"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
		<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
